grant {
	permission java.net.SocketPermission "*:6969",
            "connect,resolve";
    	permission java.net.SocketPermission "*:1024-65535",
                "connect,accept,resolve";
    permission java.io.FilePermission "operations.log", "write";
};